<div class="row">
  <div class="col-12">
    <h1 class="my-3">POSTS</h1>

    <div id="posts-list" class="row g-3">
      {{#each posts}}
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">
                {{this.brief}}
              </p>
              <a
                href="/admin/posts/{{this.id}}"
                class="card-link invisible float-end"
              ><i class="bi bi-pencil-square"></i></a>
            </div>
          </div>
        </div>
      {{/each}}
      <div class="col-4">
        <div id="new-card" class="card text-center">
          <div
            class="card-body d-flex justify-content-center align-items-center"
          >
            <p class="card-text">
              <H5><a
                  href="/admin/posts/new"
                  class="link-success link-underline-opacity-0"
                ><i class="bi bi-plus"></i>
                  NEW</a></H5>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>