<div class="row">
  <div class="col">
    <div class="d-flex align-items-center">
      <a href="/admin/posts" id="back-link" class="fs-2 pt-2"><i
          class="bi bi-arrow-left-short"
        ></i></a>
      <h1 class="my-3">Site Settings</h1></div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="mb-4">
      <label for="siteTitle" class="form-label">Site Title</label>
      <input
        type="text"
        class="form-control"
        value="{{siteSettings.title}}"
        id="siteTitle"
      />
    </div>
    <div class="mb-4">
      <label for="siteDesc" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        value="{{siteSettings.description}}"
        id="siteDesc"
      />
    </div>
    <div class="mb-4">
      <label for="siteFooter" class="form-label">Site Footer</label>
      <input
        type="text"
        class="form-control"
        value="{{siteSettings.footer}}"
        id="siteFooter"
      />
    </div>

    <div class="mb-4">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="landingPage"
        checked="{{siteSettings.landingPage}}"
      />
      <label class="form-check-label" for="landingPage">
        Show Landing Page
      </label>
    </div>
    <div>
      <input
        type="button"
        class="btn btn-outline-success"
        id="updateBtn"
        value="UPDATE"
        onclick="updateSettings()"
      />
      <input
        type="button"
        class="btn btn-outline-secondary"
        id="cancelBtn"
        value="CANCEL"
        onclick="cancel()"
      />
    </div>
  </div>
</div>
<script src="/settings.js"></script>