<html>
  <head>
    <title>{{title}}</title>
    <link href="http://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>