<html>
  <head>
    <title>Admin | {{title}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link href="http://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
    <link href="/admin.style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar text-bg-dark">
      <div class="container">
        <a class="navbar-brand text-white" href="#">Navbar</a>
        <div class="float-end d-flex align-items-center">
          <span>Welcome&nbsp;</span>
          <a class="nav-link text-warning" href="/admin/profile">{{user}}</a>
          &nbsp;
          <a href="/admin/settings" class="nav-link text-white"><i
              class="bi bi-gear"
            ></i></a>&nbsp;
          <a
            href="/auth/logout"
            id="logout-link"
            class="nav-link text-white"
            onclick="logout(event)"
          ><i class="bi bi-box-arrow-right"></i></a>
        </div>
      </div>
    </nav>
    <div class="container min-vh-100">
      {{{body}}}
    </div>
    <script src="/auth.js"></script>
  </body>
</html>