<html>
  <head>
    <title>{{@siteSettings.title}} | {{title}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container min-vh-100">
      <div class="row vh-100 d-flex align-items-center">
        <div class="col-4 offset-4">
          <div class="card">
            <div class="card-header">
              <h5>Admin Panel</h5>
            </div>
            <div class="card-body">
              <div class="card-text">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="username"
                    id="username"
                  />
                </div>
                <div class="mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="password"
                    id="password"
                  />
                </div>
                <div>
                  <input
                    type="button"
                    id="login"
                    class="btn btn-outline-success"
                    value="Login"
                    onclick="login()"
                  />

                  <input
                    type="button"
                    class="btn btn-outline-secondary"
                    value="Cancel"
                    onclick="cancel()"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="error-container d-none position-absolute top-0 start-50 translate-middle-x p-3"
      >
        <div
          class="toast error align-items-center text-bg-danger border-0"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="d-flex">
            <div class="toast-body">

            </div>
            <button
              type="button"
              class="btn-close btn-close-white me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  ></script>
  <script src="/utils.js"></script>
  <script src="/auth.js"></script>
</html>