{{#each posts}}
  <article class="mb-2 mb-md-5">
    <header>
      <h4 class="fw-bold mb-0">
        <a class="post-title" href="/posts/{{this.id}}">{{this.title}}</a>
      </h4>
    </header>
    <section>
      <p>{{this.brief}}</p>
    </section>
  </article>
{{/each}}