<div class="row">
  <div class="col-6 offset-3">
    {{#each posts}}
      <div>
        <h4><a
            class="post-title"
            href="/posts/{{this.id}}"
          >{{this.title}}</a></h4>
        <p>{{this.content}}</p>
      </div>
    {{/each}}
  </div>
</div>