<main>
  <header>
    <div class="d-flex align-items-center">
      <a
        href="/posts"
        class="back-link d-none d-sm-block text-body-tertiary fs-2"
      >
        <i class="bi bi-arrow-left-short"></i>
      </a>
      <h3 class="post-title">{{title}}</h3>
    </div>
    <div class="text-body-tertiary fs-6">
      <i class="bi bi-calendar4-week"></i>
      <time datetime="{{date}}">{{date}}</time>
    </div>
  </header>
  <section class="post-content lh-lg mt-4 fs-6 fw-light">
    {{{content}}}
  </section>
</main>