.site-title {
  background-color: #7200c8;
  color: #fff;
}
.post-title {
  color: #882ecd;
}
a.post-title {
  text-decoration: none;
}

@media (min-width: 576px) {
  .post-content {
    font-size: 1.25rem !important;
  }

  .back-link {
    margin-left: -32px;
  }
}
